@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<DesafioFSBR.Models.Processo>

@{
    ViewData["Title"] = "Processos";
}

<h1>Processos</h1>

<p>
    <a asp-action="Create">Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>@Html.DisplayNameFor(model => model.First().NPU)</th>
            <th>@Html.DisplayNameFor(model => model.First().DataCadastro)</th>
            <th>@Html.DisplayNameFor(model => model.First().UF)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.NPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
